/*Initial background color for styling purposes*/
html
{
	background-image: linear-gradient(to bottom right, cornflowerblue,aquamarine);
	min-height: 100%;
}

/*Basic font size and family*/
body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

/*This container is for the main box of the html quiz*/
#container
{
    margin : 15px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 100px;
    position: relative;
	border: solid black 10px;
    margin-top: 200px;
}

/*This is the start button's styling*/
#start
{
    font-size: 30px;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}

/*Hover function for Start so that the user can see clearly*/
#start:hover
{
    color : black;
}

/*Just position and paddings and changes for questions*/
#question
{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}

#question p
{
    margin : 0;
    padding : 18px;
    font-size: 35px;
}

/*This styling is for the choices for the quiz questions, put a different color for easier distiction and put a flex box for it to fit within its container*/
#choices
{
    color: blueviolet;
	display: flex;
	flex-direction: row;
    width : 480px;
    position: absolute;
    font-size: large;
    right : 0;
    top : 125px;
    padding : 10px;
    font-weight: bold;
}

/*Same as above except this is the actual box for the text*/
.choice
{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

/*Hover styling to ensure user is choosing their answer*/
.choice:hover
{
    border : 2px solid grey;
    font-weight: bolder;
}

/*Timer position*/
#timer
{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}

/*Counter text size*/
#counter
{
    font-size: 30px;
}

/*This is the the faux timer gauge that is behind the actual timer gauge to make it look like its "draining"*/
#timeGaugespace
{
    width : 150px;
    height : 10px;
    background-color: lightgray;
    margin-left : 25px;
}

/*Actual timer gauge for user to physically look at the time ticking down*/
#timeGauge
{
    height : 10px;
    background-color: green;
    margin-top : -10px;
    margin-left : 25px;
}

/*This is the container that pops out after the quiz is over.*/
#scoreContainer
{
    margin : 20px auto;
    background-color:gray;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

/*Just text positions for score*/
#scoreContainer p
{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/*The retry button's styling*/
#retry
{
	display: flex;
	flex-direction: column;
    text-align: center;
    cursor: pointer;
    color : white;
}

/*Hover styling for retry so user doesnt click the wrong thing*/
#retry:hover
{
    color : black;
}

/*Same as retry button but for save*/
#save
{
	display: flex;
	flex-direction: column;
    text-align: center;
    cursor: pointer;
    color : white;
}

/*Same hover styling*/
#save:hover
{
    color : black;
}

/*The following css styling is for the second html which leds the users into the High Score Display which is noted as highscoredisplay.html*/
.initialsinput
{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

#initials
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    min-height: 30px;
    
}

#hiscorecontainer
{
    margin : 15px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    position: relative;
	border: solid black 10px;
}

#totals
{
    font-size: 30px;
    font-weight: bolder;
    word-break: break-all;
    width:100%;
    text-align: center;
    color : black;
}

/*Button styling*/
#submitbtn
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 177px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;

}

/*The displayed scores positioning*/
#highscoretable
{
    display: flex;
    justify-content: center;
}