html
{
	background-image: linear-gradient(to bottom right, cornflowerblue,aquamarine);
	min-height: 100%;
}

body{
    font-size: 22px;
    font-family: monospace;
}

#container
{
    margin : 15px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    position: relative;
	border: solid black 10px;
}

#start
{
    font-size: 30px;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}

#start:hover
{
    border: 4px solid black;
    color : black;
}

#question
{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}

#question p
{
    margin : 0;
    padding : 18px;
    font-size: 35px;
}

#choices
{
    color: blueviolet;
	display: flex;
	flex-direction: column;
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
}

.choice
{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

.choice:hover
{
    border : 2px solid grey;
    font-weight: bold;
}

#timer
{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}

#counter
{
    font-size: 30px;
}

#timeGaugespace
{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}

#timeGauge
{
    height : 10px;
    border-radius: 10px;
    background-color: rgb(43, 194, 111);
    margin-top : -10px;
    margin-left : 25px;
}

#scoreContainer
{
    margin : 20px auto;
    background-color:gray;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer p
{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


#retry
{
	display: flex;
	flex-direction: column;
    text-align: center;
    cursor: pointer;
    color : white;
}

#retry:hover
{
    color : black;
}

#save
{
	display: flex;
	flex-direction: column;
    text-align: center;
    cursor: pointer;
    color : white;
}

#save:hover
{
    color : black;
}

.initialsinput
{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

#initials
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    min-height: 30px;
    
}



